name: Verify Develop

on:
  pull_request:
    branches: ['develop']

env:
  GODOT_VERSION: 4.5.1

jobs:
  setup:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download Godot (macOS)
        run: |
          wget https://github.com/godotengine/godot-builds/releases/download/4.5.1-stable/Godot_v4.5.1-stable_macos.universal.zip -O godot-mac.zip
          unzip godot-mac.zip -d godot
          chmod +x godot/Godot.app/Contents/MacOS/Godot
        shell: bash

      - name: Set Godot executable
        run: echo "GODOT_EXE=$(pwd)/godot/Godot.app/Contents/MacOS/Godot" >> $GITHUB_ENV

      - name: Build Mac executable
        run: |
          mkdir -p build/mac
          ${{ env.GODOT_EXE }} --no-window --export-release "ashleigh-town-macOS" build/mac/Ashleigh-Town.app

      - name: Build Windows executable
        run: |
          mkdir -p build/windows
          ${{ env.GODOT_EXE }} --no-window --export-release "ashleigh-town-windows" build/windows/Ashleigh-Town.exe
